<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title><%= current_page.data.title || "Puddle theory" %></title>

        <%= stylesheet_link_tag "normalize", "all" %>
        <%= javascript_include_tag  "all" %>
    </head>

    <body class="<%= page_classes %>">
        <%= yield %>
    </body>
</html>
